body{
	background-color: #f5f7f1;
}
.container{
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.05);
}

#bamboo-bg-right, 
#bamboo-bg-left{
    position: absolute;
    z-index: -1;
}
#bamboo-bg-right{
	right:0px;
}
#bamboo-bg-left{
	left: 0px;
	transform: scaleX(-1);
}

/*css header*/

.contact-address{
	height:40px;
	line-height: 40px;
	background-color: #f3f3f3;
}
.contact-address .container{
	height: 100%;
	background: transparent;
	box-shadow: none;
}
.contact-content{
	color:#878787;
	float: left;
}
.lang-page{
	text-align: right;
}
.lang-page a{
	color:#2f2f2f;
	text-decoration: none;
}
.logo-wrapper{
	padding: 15px;
    padding-bottom: 20px;
}
.logo-wrapper .logo-title{
	height: 100%;
    padding-top: 65px;
	text-align: center;
}
.logo-wrapper .logo-title .title-top{
	font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #2f2f2f;

}
.logo-wrapper .logo-title .title-bottom{
	font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #eaa959;
}
.logo-content{
	text-align: center;
}
.logo-content .logo-image-wraper{
	width: 175px;
	height: 175px;
	background-color: #fdeedd;
	border-radius: 50%;
	padding: 10px;
}
.logo-content .logo-image-wraper .logo-image{
	height: 155px;
	width: 155px;
	background-color: #fbd5a9;
	border-radius: 50%;
	line-height: 135px;
}

.title-content{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
    font-weight: bold;
}
.slogan-wrapper{
	text-align: center;
	color:#88b732;
	font-size: 20px;
	margin-bottom: 15px;
}
.menu-wrapper .nav-tabs .nav-item{
	padding: 0px;
	background-color: #79a627;
	border: 1px solid #e4e7df;
    border-right: 0px;
}

.menu-wrapper .nav-tabs .nav-item:last-child{
	border-right: 1px solid #e4e7df;
}
.menu-wrapper .nav-tabs .nav-item .nav-link{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	height: 46px;
	line-height: 46px;
	font-weight: bold;
}
.menu-wrapper .nav-tabs .nav-item .nav-link.active,
.menu-wrapper .nav-tabs .nav-item .nav-link:hover,
.menu-wrapper .nav-tabs .nav-item .nav-link:focus,
.menu-wrapper .nav-tabs .nav-item.active,
.menu-wrapper .nav-tabs .nav-item:hover{
	background-color: #eaa959;
}
.menu-wrapper .nav .open>a{
	background-color: #79a627;
}
.menu-wrapper .nav-tabs .nav-item .dropdown-menu{
	margin-top: 2px;
	border: 1px solid #ebebeb;
    border-radius: 0px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
}
.menu-wrapper .nav-tabs .nav-item .dropdown-menu .dropdown-item:last-child{
	border-bottom: 0px;
}
.menu-wrapper .nav-tabs .nav-item .dropdown-menu .dropdown-item{
	display: block;
	height: 45px;
	line-height: 45px;
	padding-left: 15px;
	color: #212121;
	text-transform: uppercase;
	font-weight: bold;
	width: 255px;
	font-size: 12px;
	border-bottom: 1px solid #ebebeb;
	background-color: white;
	text-decoration: none;
}.menu-wrapper .nav-tabs .nav-item .dropdown-menu .dropdown-item:hover{
	color: #eaa959;
}

/*css main-content */

.main-content{
	margin-top: 15px;
}
.notify-wrapper{
	background-color: #fff5e8;
	height: 75px;
    line-height: 75px;
    padding: 0px;
}
.notify-wrapper .notify-label{
	text-align: right;
	color: #79a627;
	font-size: 18px;
}
.notify-wrapper .notify-content{
	padding-left: 0px;
	font-size: 13px;
	font-weight: bold;
	color: #1f1f1f;	
}

.content{
	margin-top: 25px;
	padding: 0px;
}

.left-content,
.title-block-wrapper,
.news-item{
	padding: 0px;
}
.left-content .block-wrapper{
	padding: 0px;
}

.right-content{
	padding-right: 0px;
}
.left-block-equal{
	padding-left: 0px;
}
.right-block-equal{
	padding-right: 0px;
}

.img-block-large{
	width: 100%;
	height: 210px;
	background-color: #ebebeb;
	margin-bottom: 20px;
}

.title-news{
	font-weight: bold;
}
.content-news{
	margin-top:10px;
}
.list-news .news-item{
	border-bottom:1px solid #ebebeb;
	padding-left: 10px;
	padding-right: 10px;

}
.news-item .title-news .double-padles{
	float: left;
	margin-right: 10px;
	font-weight: normal;
}

.news-item .content-news{
	margin-top: 15px;
	margin-bottom:15px;
}
.list-news .news-item .content-news{
	margin-top: 25px;
	margin-bottom:25px;
}
.list-news .news-item:first-child .content-news{
	margin-top:10px;
}
.block-wrapper{
	margin-bottom: 30px;
}
.title-block-wrapper{
	border-bottom: 2px solid #eaa959;
	padding-bottom: 10px;
	margin-bottom: 25px;
}
.icon-title{
	float: left;
}
.title-block{
	float: left;
	font-size: 15px;
	margin-left: 10px;
	font-weight: bold;
	margin-top: 7px;
	text-transform: uppercase;
}
.title-block-wrapper .paddle-left{
	float: left;
	right: 0px;
	position: absolute;
	top: 7px;
	color: #79a627;
	font-style: italic;
    text-decoration: none;
}
.img-block-medium{
	height: 85px;
	background-color: #ebebeb;
	float: left;
}
.block-item{
	padding: 0px;
	border-bottom:1px solid #ebebeb;
	margin-bottom: 25px;
	padding-bottom: 25px;
}
.block-item:last-child{
	margin: 0px;
}
.block-news{
	float: left;

}

.block-news .title-news{
	margin: 0px;
}

.img-block-small{
	float: left;
	width: 60px;
	height: 50px;
	background-color: #ebebeb;
	margin-right: 15px;
}
.list-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  overflow: hidden;
  /*background-color: #333;*/
}

.menu-item {
  float: left;
}

.menu-item .menu-link{
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.menu-item .menu-link:hover {
  color: #eaa959;
}
.search-box{
	padding-right: 0px;
    margin-bottom: 35px;
}
.search-box input[name="search-box"]{
	height: 40px;
	width: 100%;
	border: 0px;
	background-color: #f3f3f3;
	padding-left: 15px;
}
.search-box input[name="search-box"]::placeholder{
	font-style: italic;
}

.search-box .icon-search{
	position: absolute;
	right: 15px;
	top: 13px;
	color: #b2b2b2;
}
.right-content .block-wrapper{
	padding-right: 0px;
	margin-bottom: 20px;
}
.right-content .title-block{
	margin: 0px;
	padding: 0px;
}
.img-block-right{
	height: 150px;
	background-color: #ebebeb;
	margin-bottom: 15px;
}
.right-content .block-wrapper .title-news{
	padding: 0px;
}
.right-content .block-wrapper .title-block-wrapper{
	margin-bottom: 20px;
}
.notification-block .news-item{
	margin-bottom: 30px;
}
.right-content .social-share-wrapper{
	padding: 0px;
}
.right-content .social-share-wrapper .list-social-btn{
	margin-top: 15px;
	padding: 0px;
}
.right-content .social-share-wrapper .list-social-btn .social-btn-item{
	float: left;
	height: 50px;
	width:50px;
	border-radius: 3px;
	margin-right: 10px;
}
.list-social-btn .social-btn-item:nth-child(1){
	background-color: #3b5998;

}
.list-social-btn .social-btn-item:nth-child(2){
	background-color: #dc4a3d;

}
.list-social-btn .social-btn-item:nth-child(3){
	background-color: #00aced;

}
.list-social-btn .social-btn-item:nth-child(4){
	background-color: #c71118;

}
.icon-player{
	background-color: #90b44e;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
	float: left;
}
.icon-player img{
	height: 9px;
	position: absolute;
	top: 6px;
	left: 7px;
	float: left;
}
.audio-block .news-item .title-news,
.audio-block .news-item .content-news,
.video-block .news-item .title-news,
.video-block .news-item .content-news{
	float: left;
	width: calc(100% - 30px);
}
.video-block .news-item .content-news,
.audio-block .news-item .content-news{
	margin: 0px;
}

.video-block .news-item .img-block-right{
	margin-top: 15px;
}
.video-block .news-item .img-block-right .icon-player{
	height: 60px;
	width: 60px; 
	margin: 0px;
	position: relative;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}
.video-block .news-item .img-block-right .icon-player img{
	height: auto;
	top: 18px;
	left: 23px;}
.video-block .news-item,
.audio-block .news-item{
	border-bottom:1px solid #ebebeb;	
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.audio-block .audio-bar{
	margin-bottom: 20px;
}
.icon-volume{
	float: left;
	font-size: 20px;
	color: #e7e7e7;
	margin-right: 10px;
}
.audio-block .news-item.active .icon-volume{
	color: #eab676;
}
.audio-block .news-item.active .content-news{
	font-weight: bold;
}

.key-search-block .key-search-content{
	font-size: 16px;
}
.key-search-block .key-search-content .key-search{
	font-size: 30px;
}
.statitics-block{
	margin-top: 5px;
}
.statitics-block .statitic-box{
	border:1px solid #ebebeb;
	padding: 35px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.15);
}
.statitics-block .statitic-box table{
	width: 100%;
}
.statitics-block .statitic-box table tr td.index-row{
	text-align: right;
}
.statitics-block .statitic-box table tr th,
.statitics-block .statitic-box table tr td{
	padding-bottom: 10px;
}

.statitics-block .statitic-box table tr th{
	font-size: 17px;
	color: #212121;
}
.statitics-block .statitic-box table tr td{
	font-size: 15px;
	color:#424242;
}

/*footer*/

.menu-footer,
.menu-footer .nav-tabs .nav-item .nav-link,
.menu-footer .nav-tabs .nav-item{
	padding: 0px
}
.menu-footer .nav-tabs{
	border: 0px;
}
.menu-footer .nav-tabs .nav-item .nav-link{
	text-align: center;
	margin: 0px;
	color: #212121;
	font-weight: bold;
	border: 1px solid #ebebeb;
	border-radius: 0px;
	border-right: 0px;
	height: 46px;
	line-height: 46px;
	background-color: #f8f8f8;
}
.menu-footer .nav-tabs .nav-item .nav-link:last-child{
	border-right: 1px solid #ebebeb;
}
.menu-footer .nav-tabs .nav-item .nav-link.active{
	color: #88b732;
	text-decoration: underline;
}
.footer-content{
	background-color: #ebebeb;
}
.footer-content .logo-wrapper .logo-title .title-bottom,
.footer-content .logo-wrapper .logo-title .title-top{
	color: #2f2f2f;
	text-transform: uppercase;
	font-size: 23px;
	font-style: normal;
	text-align: left;
}

.footer-content .logo-wrapper .logo-title{
	padding-top: 55px;
	padding-left: 0px;
	padding-right: 0px;
}
.link-wrapper,.contact-wrapper{
	padding-top: 40px;
}
.link-wrapper .list-news-link .link-item{
	padding: 5px;
	text-align: center;
}
.link-wrapper .list-news-link .link-item a{
	color: #737373;
	text-decoration: none;
}
.contact-wrapper{
	padding-left: 0px;
	padding-right: 0px;
}
.contact-wrapper .title-contact{
	font-weight: bold;
	color: #737373;
	padding-top: 5px;
	padding-bottom: 15px;
}
.contact-wrapper .contact-content{
	color: #737373;
}
.contact-wrapper .contact-content p{
	margin-bottom: 4px;
}

.breadcrumb>li+li:before{
	content: ">";
}
.breadcrumb{
	background-color: #fff;
	border-bottom:1px solid #ebebeb;
	padding-left: 0px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.breadcrumb .breadcrumb-item a{
	color:#84ad40;
	text-decoration: none;
}
.breadcrumb .breadcrumb-item{
	font-weight: bold;
}

#pagination-wrapper{
	float: left;
}
#pagination-wrapper .pagination{
	margin:0px;
	margin-bottom:30px;
}
#pagination-wrapper .pagination .page-item .page-link{
	padding: 0px;
	width: 24px;
	height: 24px;
	border-radius: 0px;
	padding-left: 7px;
	padding-top: 1px;
	margin-right: 5px;
	color: #212121;
	background-color: #f8f8f8;
	border-color: #e1e1e1;
	/*font-weight: bold;*/
}
#pagination-wrapper .pagination .last-page .page-link{
	width: auto;
	padding-right: 7px;
}
#pagination-wrapper .pagination .page-item.active .page-link,
#pagination-wrapper .pagination .page-item .page-link:hover
{
	color: #fff;
	background-color: #90b44e;
}
