.content{
	margin:0px;
}
.detail-post-wrapper{
}
.detail-post-wrapper .header-post{
	padding: 0px;
	margin-bottom: 20px;
}

.detail-post-wrapper .header-post .name-post{
	font-weight: bold;
	font-size: 20px;
	padding-right: 50px;	
}
.detail-post-wrapper .header-post .view-count{
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 28px
}
.detail-post-wrapper .header-post .view-count i{
	top: 3px;
}
.detail-post-wrapper .header-post .view-count span{
	font-size: 12px;
	font-weight: bold;
}
.detail-post-wrapper .block-news{
	padding: 0px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 30px ;
	margin-bottom: 15px;

}
 .detail-post-wrapper .block-news .title-news{
	margin-bottom: 15px;
}
.detail-post-wrapper .block-news .img-block-large{
	width: 100%;
	min-height: 250px;
	background-size: cover;
	text-align: center;
	background-color: transparent;
}
.detail-post-wrapper .block-news .img-block-large img{
	height: 100%;
}
.detail-post-wrapper .block-news .content-news{
	padding: 0px;
	line-height: 24px;
}
.detail-post-wrapper .block-news .content-news p span{
	font-size: 15px !important;
}
.detail-post-wrapper .footer-post{
	padding: 0px;
}
.detail-post-wrapper .social-block .share-block{
	margin-bottom: 15px;
}
.detail-post-wrapper .social-block .share-block a{
	font-weight: bold;
    padding: 5px;
    background-color: #3b5998;
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
}
.detail-post-wrapper .social-block .hastag-block span{
	color: #a2a2a2;
	font-size: 18px;
	margin-right: 5px;
}
.detail-post-wrapper .social-block .hastag-block{
	margin-bottom: 20px;
	list-style: none;
}
.detail-post-wrapper .conment-block .title-comnent{
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.detail-post-wrapper .conment-block .box-comment .textarea-comment{
	width: calc(100% - 70px);
	height: 55px;
	border-color: #ebebeb;
}
.detail-post-wrapper .conment-block .box-comment .img-avartar-fb{
	height: 55px;
	width: 55px;
}
.detail-post-wrapper .conment-block .box-comment{
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}
.list-posts-wrapper .list-news{
	padding: 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
}
.list-posts-wrapper .list-news .news-item{
	border: 0px;
}
.list-posts-wrapper .list-news .news-item:last-child{
	padding-right: 0px;
}
.list-posts-wrapper .list-news .news-item:first-child{
	padding-left: 0px;
}
.list-posts-wrapper .list-news .news-item .img-post{
	min-height: 160px;
	background-color: #ebebeb;
	margin-bottom: 10px;
	background-size: cover;
}
.list-posts-wrapper .list-link-news{
	padding: 0px;
}
.list-posts-wrapper .list-link-news .link-news-item{
	display: block;
	color: #656565;
	text-decoration: none;
	font-size: 15px;
	line-height: 25px;
}
.list-posts-wrapper .list-link-news .link-news-item:hover{
	color:#000;
}
.list-posts-wrapper .list-link-news .link-news-item span{
	margin-right: 5px;
}
.fb_iframe_widget span{
	width: 100% !important;
}
.fb_iframe_widget{
	width: 100% !important;
}