.content{
	margin:0px;
}
.title-block-wrapper .title-block{
	margin: 0px;
}
.breadcrumb{
	margin-bottom: 20px;
}
.media-library-wrapper .title-block-wrapper{
	margin-bottom: 0px;
}
.media-library-wrapper .news-item{
	border-bottom: 1px solid #ebebeb;
}
.list-media{
	padding: 0px;
}
.media-item .video-wrapper{
	min-height: 165px;
	width: 100%;
	margin-bottom: 10px;
	padding: 0px;
}
.media-item .video-wrapper iframe{
	width: 100%;
}
.media-item .view-count{
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 12px;
}
.media-item .title-news{
	padding-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
}
.media-item .video-wrapper .icon-player{
	height: 60px;
	width: 60px; 
	margin: 0px;
	position: relative;
	top: 52px;
	left: calc(50% - 30px);
	background-color: #f1f1f1;
}
.media-item .video-wrapper .icon-player img{
	height: auto;
	top: 18px;
	left: 23px;
}
@media (max-width: 990px){
	.media-item .video-wrapper iframe{
		max-width: 337px;
	}
}
.dropdown-order-by{
	position: absolute;
	right: 0px;
}
.dropdown-order-by .dropdown-menu .dropdown-item{
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	color: #212121;
	text-decoration: none;
}
.dropdown-order-by .dropdown-menu .dropdown-item:hover{
	background-color: #eaa959;
	color:#fff;
}

#dropdownOrderBy{
	background-color: #f8f8f8;
	border:1px solid #e1e1e1;
	width: 120px;
	height: 25px;
	border-radius: 3px;
	padding: 0px;
	font-weight: bold;
	text-align: left;
	padding-left: 9px;
}
#dropdownOrderBy i{
	position: absolute;
	right: 4px;
	top: 8px;
	font-size: 12px;
}
.dropdown-order-by .dropdown-menu{
	min-width: 120px;
	padding: 0px;
}
.video-page,.audio-page{
	float:left;
	width: 100%;
}

.audio-page .media-item{
	padding-top: 20px;
}
.audio-page .audio-wrapper{
	padding: 0px;
	background-color: #ebebeb;
    text-align: center;
    min-height: 160px;
    line-height: 160px;
    margin-bottom: 15px;
}
.audio-page .audio-wrapper audio{
	width: 100%;
	margin-top: 20px;
    margin-bottom: 10px;
}
.left-content .block-wrapper{
	width: 100%;
}
.audio-page .media-item .img-cover-audio{
	width: 100%;
	/*min-height: 263px;*/
}
.audio-page .media-item .img-cover-audio img{
	width: 100%;
	background-color: #ebebeb;
}
